.container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    
    .activityDetails {
        padding: 20px;
        background: #fff;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

        .activityDetailsHeader {
            .formControls {
                margin-bottom: 16px;
                text-align: right;
            }

            .form {
                .formItem {
                    margin-bottom: 16px;
                }
            }

            .activityDetailsCover {
                margin-top: 20px;
                text-align: center;
                
                img {
                    max-width: 300px;
                    max-height: 200px;
                    border-radius: 8px;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
    
    .content {
        width: 100%;
    }

    .tabs {
        width: 100%;
        display: flex;
        gap: 0px;
        

        .tabItem {
            padding: 5px 0px;
            width: 130px;
            text-align: center;

            transition: all 0.3s ease;

            &:hover {
                color: #006cbe;
                cursor: pointer;

                &::after {
                    display: inline-block;
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: #006cbe;
                }
            }


            &.active {
                color: #006cbe;
                cursor: pointer;

                &::after {
                    display: inline-block;
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: #006cbe;
                }
            }


            &::after {
                display: inline-block;
                content: "";
                width: 100%;
                height: 2px;
                background-color: #d6d6d6;
                transition: all 0.3s ease;
            }
        }
    }
}